force-app/main/default/flows/Create_Instructor_Invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>IncrementLoopIndex</name>
        <label>IncrementLoopIndex</label>
        <locationX>586</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>varIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop</name>
        <label>WhileIndexLessThanCourseDays</label>
        <locationX>346</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIterationCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Course__r.Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateServiceLine</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <formulas>
        <name>ServiceInvoiceNo</name>
        <dataType>String</dataType>
        <expression>&quot;INV-&quot; &amp; {!$Record__Prior.InvoiceAutoNumber__c}</expression>
    </formulas>
    <formulas>
        <name>ServiceLineTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Course__r.Name} &amp; &quot; : &quot; &amp; {!$Record.Course__r.Course_Title__c}</expression>
    </formulas>
    <interviewLabel>Create Instructor Invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Service Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateServiceInvoice</name>
        <label>CreateServiceInvoice</label>
        <locationX>177</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceInvoiceNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instructor__r.Instructor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Instructor_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceLine</name>
        <label>CreateServiceLine</label>
        <locationX>586</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>IncrementLoopIndex</targetReference>
        </connector>
        <inputAssignments>
            <field>Instructor_Invoice__c</field>
            <value>
                <elementReference>CreateServiceInvoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ServiceLineTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Cost__c</field>
            <value>
                <elementReference>$Record.Instructor__r.Daily_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Instructor_Invoice_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateServiceInvoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
